<?xml version="1.0"?>
<!--
/**
 * Dependency Injection configuration for PayLane module
 * @author Michał Zabielski <michal.zabielski@endora.pl> https://endora.pl
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="PayLaneFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Endora\PayLane\Model\Ui\ConfigProvider::CODE_PAYLANE</argument>
            <argument name="formBlockType" xsi:type="string">Endora\PayLane\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Endora\PayLane\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayLaneValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">Magento\Payment\Gateway\Validator\ValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">PayLaneCommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneSecureFormFacade" type="PayLaneFacade">
        <arguments>
            <argument name="code" xsi:type="const">Endora\PayLane\Model\Ui\ConfigProvider::CODE_SECURE_FORM</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayLaneSecureFormValueHandlerPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneCreditCardFacade" type="PayLaneFacade">
        <arguments>
            <argument name="code" xsi:type="const">Endora\PayLane\Model\Ui\ConfigProvider::CODE_CREDIT_CARD</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayLaneCreditCardValueHandlerPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLanePayPalFacade" type="PayLaneFacade">
        <arguments>
            <argument name="code" xsi:type="const">Endora\PayLane\Model\Ui\ConfigProvider::CODE_PAYPAL</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayLanePayPalValueHandlerPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneSofortFacade" type="PayLaneFacade">
        <arguments>
            <argument name="code" xsi:type="const">Endora\PayLane\Model\Ui\ConfigProvider::CODE_SOFORT</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayLaneSofortValueHandlerPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneDirectDebitFacade" type="PayLaneFacade">
        <arguments>
            <argument name="code" xsi:type="const">Endora\PayLane\Model\Ui\ConfigProvider::CODE_DIRECT_DEBIT</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayLaneDirectDebitValueHandlerPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneBankTransferFacade" type="PayLaneFacade">
        <arguments>
            <argument name="code" xsi:type="const">Endora\PayLane\Model\Ui\ConfigProvider::CODE_BANK_TRANSFER</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayLaneBankTransferValueHandlerPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneApplePayFacade" type="PayLaneFacade">
        <arguments>
            <argument name="code" xsi:type="const">Endora\PayLane\Model\Ui\ConfigProvider::CODE_APPLE_PAY</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayLaneApplePayValueHandlerPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneIdealFacade" type="PayLaneFacade">
        <arguments>
            <argument name="code" xsi:type="const">Endora\PayLane\Model\Ui\ConfigProvider::CODE_IDEAL</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayLaneIdealValueHandlerPool</argument>
        </arguments>
    </virtualType>

    <type name="Endora\PayLane\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Endora\PayLane\Model\Ui\ConfigProvider::CODE_PAYLANE</argument>
        </arguments>
    </type>

    <type name="Endora\PayLane\Gateway\Config\SecureForm\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Endora\PayLane\Model\Ui\ConfigProvider::CODE_SECURE_FORM</argument>
        </arguments>
    </type>

    <type name="Endora\PayLane\Gateway\Config\CreditCard\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Endora\PayLane\Model\Ui\ConfigProvider::CODE_CREDIT_CARD</argument>
        </arguments>
    </type>

    <type name="Endora\PayLane\Gateway\Config\PayPal\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Endora\PayLane\Model\Ui\ConfigProvider::CODE_PAYPAL</argument>
        </arguments>
    </type>

    <type name="Endora\PayLane\Gateway\Config\Sofort\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Endora\PayLane\Model\Ui\ConfigProvider::CODE_SOFORT</argument>
        </arguments>
    </type>

    <type name="Endora\PayLane\Gateway\Config\DirectDebit\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Endora\PayLane\Model\Ui\ConfigProvider::CODE_DIRECT_DEBIT</argument>
        </arguments>
    </type>

    <type name="Endora\PayLane\Gateway\Config\BankTransfer\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Endora\PayLane\Model\Ui\ConfigProvider::CODE_BANK_TRANSFER</argument>
        </arguments>
    </type>

    <type name="Endora\PayLane\Gateway\Config\ApplePay\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Endora\PayLane\Model\Ui\ConfigProvider::CODE_APPLE_PAY</argument>
        </arguments>
    </type>

    <type name="Endora\PayLane\Gateway\Config\Ideal\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Endora\PayLane\Model\Ui\ConfigProvider::CODE_IDEAL</argument>
        </arguments>
    </type>

    <!-- PayLane Value Handler configuration -->
    <virtualType name="PayLaneValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayLaneConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneSecureFormValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayLaneSecureFormConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneCreditCardValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayLaneCreditCardConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLanePayPalValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayLanePayPalConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneSofortValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayLaneSofortConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneDirectDebitValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayLaneDirectDebitConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneBankTransferValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayLaneBankTransferConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneApplePayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayLaneApplePayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneIdealValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayLaneIdealConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Endora\PayLane\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneSecureFormConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Endora\PayLane\Gateway\Config\SecureForm\Config</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneCreditCardConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Endora\PayLane\Gateway\Config\CreditCard\Config</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLanePayPalConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Endora\PayLane\Gateway\Config\PayPal\Config</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneSofortConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Endora\PayLane\Gateway\Config\Sofort\Config</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneDirectDebitConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Endora\PayLane\Gateway\Config\DirectDebit\Config</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneBankTransferConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Endora\PayLane\Gateway\Config\BankTransfer\Config</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneApplePayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Endora\PayLane\Gateway\Config\ApplePay\Config</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayLaneIdealConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Endora\PayLane\Gateway\Config\Ideal\Config</argument>
        </arguments>
    </virtualType>

    <!-- PayLane gateway commands -->
    <virtualType name="PayLaneAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Magento\Payment\Gateway\Request\BuilderComposite</argument>
            <argument name="transferFactory" xsi:type="object">Endora\PayLane\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Endora\PayLane\Gateway\Http\Client\TransactionMock</argument>
        </arguments>
    </virtualType>

    <!-- PayLane gateway command pool -->
    <virtualType name="PayLaneCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">PayLaneAuthorizeCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Custom logger -->
    <type name="Endora\PayLane\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="Endora\PayLane\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">paylaneLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Endora\PayLane\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>